body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont,"Courier-New", "Courier", monospace, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(89deg, rgb(83, 243, 149) 0%, rgb(164, 222, 4) 100%);
  /*background: linear-gradient(89deg, #FF54eF 0%, #04C8de 100%);*/
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
